.star {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
    color: red;
}

.red {
    color: red;
}

.glossary_footer {
    font-size: smaller;
}

.footer_table td {
    padding-right: 12px;
}

.results_table td {
    padding-right: 5px;    
    padding-bottom: 10px;
}

.smaller_text {
    font-size: smaller;    
}

a:visited{
    color: blue;
}

.source_lang { 
    background-color: lightgray; 
}

.target_lang { 
    background-color: gray;
    color: white;
}

.term_text {
    background-color: None;
}

.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#form li {
    margin: 12px 0 0 0;
}

summary{
    outline:none;
}