.star {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
    color: red;
}

table.footer td {
    padding-right: 10px;
    font-size: small;
}